---
interface Props {
    title: string;
    text: string;
    image: string;
    reverse: string;
}

const {title, text, image, reverse} = Astro.props
---

<div class=" flex flex-col-reverse  w-full my-24 shadow-lg rounded-lg gap-10 p-10 lg:pl-20 text-center lg:text-left" class:list={reverse}>
    <div class="lg:w-1/2 flex flex-col justify-center gap-5">
        <p class="text-2xl lg:text-4xl font-semibold capitalize">{title}</p>
        <p class="text-pgblue text-lg lg:text-xl text-balance">{text}</p>
    </div>
    <img class="lg:w-1/2" src={image} alt="">
</div>