---
import img1 from '../images/logo.svg';
---

<header class="fixed z-10 top-0 w-full text-pvdcyan">
    <nav class="flex justify-between items-center  mx-auto px-4 lg:max-w-screen-2xl my-9  py-2 rounded-xl">
        <a class="" href="#">
            <img class="w-36" src={img1.src} alt="">
        </a>
        <a class="px-12 py-3 rounded-3xl shadow-2xl font-bold text-sm bg-[#FFFF] transition duration-500 hover:text-pgblue" href="#">
            Try it Free
        </a>
    </nav>
</header>