---
import Button from "./Button.astro";
---


<div class="relative flex justify-center  items-center">
    <div class="absolute w-full -z-10 h-1/2 top-0 "></div>
    <div class="absolute w-full -z-10 h-1/2 bg-pvdcyan bottom-0"></div>
    <div class="mx-4 w-full lg:w-1/2">
        <div class="my-10 mx-auto bg-[#FFFF] lg:max-w-screen-2xl flex flex-col items-center p-5 shadow-lg rounded-xl gap-5">
            <p class="capitalize font-bold">ready to build your community?</p>
            <Button />
        </div>
    </div>
</div>
